<label for="blog-title">Blog title:</label>
<input required type="text" id="blog-title" name="title">
<label for="blog-snippet">Blog snippet:</label>
<input required type="text" id="blog-snippet" name="snippet">
<label for="blog-body">Blog body:</label>
<textarea required id="blog-body" name="body"></textarea>
<button class="btn success" type="submit">Submit</button>