<header>
  <div class="logo">
    <h1>Mikeul's Blog</h1>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blogs">Blogs</a>
    <a href="/blogs/new">New Blog</a>
  </nav>
</header>