<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
  
  <div class="blog-container">
    <div class="title">
      <h1> <%= blog.blog_title %> </h1>
    </div>
    <p> <%= blog.blog_body %> </p>
  </div>

</body>
</html>